target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.xlsx
/src/main/resources/keystore/
src/main/resources/keystore/ts.p12
/src/main/resources/application-prod.yml
.env
.gigaide/gigaide.properties
amplicode.xml
src/test/resources/application-secure-test.yml
/resources/sql/*
/resources/logs
/secrets/
